<h1>You've just added a new Job!</h1>
<p>@Model.GetTitle()</p>
<p>@Model.GetDescription()</p>
<p>@Model.GetDates()</p>
<p><a href="/">Add another job</a></p>
<p><a href="/jobs/list">View Current Jobs</a></p>
