<h1>List of Jobs</h1>
<form action="/jobs/create" method="post">
  <label for="jobTitle">What was your job title and where did you work? (i.e. Teacher at Epicodus)</label>
  <input type="text" name="jobTitle" id="jobTitle">
<br>
  <label for="jobDescription">Describe what you did at this job:</label>
  <input type="text" name="jobDescription" id="jobDescription">
<br>
  <label for="jobDates">How many months were you at this job?</label>
  <input type="number" name="jobDate" id="jobDate">
<br>
  <button type="submit" name="btnSubmit" class="btn btn-success">Add job!</button>
</form>
